<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
  .text {
    font-family: Helvetica, sans-serif;
    color:white;
    position:relative;
    padding-top:14.5%;
    padding-left: 33%;
    font-size: 20px;
  }
  </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style = "font-size:20px; padding:50px; background-image: url(https://i.imgur.com/Lp5cyUY.jpg)">
  <div class = "text"><h2>This is your link: <a href = <%= link %>><%= link %></a></h2></div>


  </body>
</html>



