<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
  .body {
  font-size:20px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
</style>
<% include ./partial/header %>
  </head>
  <body class = "body">
    <form action="/getlink" method="POST" style="margin:auto; width:50%; margin-top:15em">
      <label class="font" for="longURL"><strong>Enter a URL:</strong></label>
      <input class="website" id="longURL" type="url" name="longURL" placeholder="http://">
      <button class="button" style="vertical-align:middle"><span>Submit </span></button>
    </form>

  </body>
</html>

